Don't forget to install pytorch-scatter as it's a dependency for the TAPAS model

In [1]:
!pip install torch-scatter -f -q https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html
!pip install -q transformers

Looking in links: -q
Collecting https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html
  Downloading https://pytorch-geometric.com/whl/torch-1.8.0+cu101.html
  ERROR: Cannot unpack file /tmp/pip-unpack-6kuof7q5/torch-1.8.0+cu101.html (downloaded from /tmp/pip-req-build-q_m6ygcp, content-type: text/html); cannot detect archive format
ERROR: Cannot determine archive format of /tmp/pip-req-build-q_m6ygcp
     |████████████████████████████████| 2.1MB 9.7MB/s
     |████████████████████████████████| 3.3MB 11.8MB/s
     |████████████████████████████████| 901kB 48.9MB/s

In [2]:
import os
import ast
import torch
import collections
import requests, zipfile, io

import numpy as np
import pandas as pd

from transformers import TapasTokenizer
from transformers import TapasForQuestionAnswering,AdamW

### Download SQA Dataset

In [3]:
def download_files(dir_name):
  if not os.path.exists(dir_name): 
    # 28 training examples from the SQA training set + table csv data
    urls = ["https://www.dropbox.com/s/2p6ez9xro357i63/sqa_train_set_28_examples.zip?dl=1",
            "https://www.dropbox.com/s/abhum8ssuow87h6/table_csv.zip?dl=1"
    ]
    for url in urls:
      r = requests.get(url)
      z = zipfile.ZipFile(io.BytesIO(r.content))
      z.extractall()

dir_name = "sqa_data"
download_files(dir_name)

### Data Preprocessing

In [4]:
data = pd.read_excel("sqa_train_set_28_examples.xlsx")
data.head()

       id  ...                                        answer_text
0  nt-639  ...  ['Louisiana State University', 'Valley HS (Las...
1  nt-639  ...                                   ['Ben McDonald']
2  nt-639  ...  ['Ben McDonald', 'Tyler Houston', 'Roger Salke...
3  nt-639  ...  ['Ben McDonald', 'Tyler Houston', 'Roger Salke...
4  nt-639  ...                                   ['Ben McDonald']

[5 rows x 7 columns]


As you can see, each row corresponds to a question related to a table.

- The position column identifies whether the question is the first, second, ... in a sequence of questions related to a table.
= The table_file column identifies the name of the table file, which refers to a CSV file in the table_csv directory.
= The answer_coordinates and answer_text columns indicate the answer to the question. The answer_coordinates is a list of tuples, each tuple being a (row_index, column_index) pair. The answer_text column is a list of strings, indicating the cell values.

However, the answer_coordinates and answer_text columns are currently not recognized as real Python lists of Python tuples and strings respectively. Let's do that first using the .literal_eval()function of the ast module:

In [5]:
def _parse_answer_coordinates(answer_coordinate_str):
  """Parses the answer_coordinates of a question.
  Args:
    answer_coordinate_str: A string representation of a Python list of tuple
      strings.
      For example: "['(1, 4)','(1, 3)', ...]"
  """

  try:
    answer_coordinates = []
    # make a list of strings
    coords = ast.literal_eval(answer_coordinate_str)
    # parse each string as a tuple
    for row_index, column_index in sorted(
        ast.literal_eval(coord) for coord in coords):
      answer_coordinates.append((row_index, column_index))
  except SyntaxError:
    raise ValueError('Unable to evaluate %s' % answer_coordinate_str)
  
  return answer_coordinates


def _parse_answer_text(answer_text):
  """Populates the answer_texts field of `answer` by parsing `answer_text`.
  Args:
    answer_text: A string representation of a Python list of strings.
      For example: "[u'test', u'hello', ...]"
    answer: an Answer object.
  """
  try:
    answer = []
    for value in ast.literal_eval(answer_text):
      answer.append(value)
  except SyntaxError:
    raise ValueError('Unable to evaluate %s' % answer_text)

  return answer

data['answer_coordinates'] = data['answer_coordinates'].apply(lambda coords_str: _parse_answer_coordinates(coords_str))
data['answer_text'] = data['answer_text'].apply(lambda txt: _parse_answer_text(txt))

data.head(10)

         id  ...                                        answer_text
0    nt-639  ...  [Louisiana State University, Valley HS (Las Ve...
1    nt-639  ...                                     [Ben McDonald]
2    nt-639  ...  [Ben McDonald, Tyler Houston, Roger Salkeld, J...
3    nt-639  ...  [Ben McDonald, Tyler Houston, Roger Salkeld, J...
4    nt-639  ...                                     [Ben McDonald]
5    nt-639  ...  [Ben McDonald, Tyler Houston, Roger Salkeld, J...
6    nt-639  ...                                     [Ben McDonald]
7  nt-11649  ...  [Cordoba CF, CD Malaga, Granada CF, UD Las Pal...
8  nt-11649  ...  [Cordoba CF, CD Malaga, Granada CF, UD Las Pal...
9  nt-11649  ...                                 [CD Villarrobledo]

[10 rows x 7 columns]


Let's create a new dataframe that groups questions which are asked in a sequence related to the table. We can do this by adding a sequence_id column, which is a combination of the id and annotator columns:

In [6]:
def get_sequence_id(example_id, annotator):
  if "-" in str(annotator):
    raise ValueError('"-" not allowed in annotator.')
  return f"{example_id}-{annotator}"

data['sequence_id'] = data.apply(lambda x: get_sequence_id(x.id, x.annotator), axis=1)
data.head()

       id  ...  sequence_id
0  nt-639  ...     nt-639-0
1  nt-639  ...     nt-639-0
2  nt-639  ...     nt-639-1
3  nt-639  ...     nt-639-1
4  nt-639  ...     nt-639-1

[5 rows x 8 columns]

let's group table-question pairs by sequence id, and remove some columns we don't need

In [7]:
grouped = data.groupby(by='sequence_id').agg(lambda x: x.tolist())
grouped = grouped.drop(columns=['id', 'annotator', 'position'])
grouped['table_file'] = grouped['table_file'].apply(lambda x: x[0])
grouped.head(10)

                                                      question  ...                                        answer_text
sequence_id                                                     ...
ns-1292-0    [who are all the athletes?, where are they fro...  ...  [[Tommy Green, Janis Dalins, Ugo Frigerio, Kar...
nt-10730-0   [what was the production numbers of each revol...  ...  [[1,900 (estimated), 14,500 (estimated), 6,000...
nt-10730-1   [what three revolver models had the least amou...  ...  [[Remington-Beals Army Model Revolver, New Mod...
nt-10730-2   [what are all of the remington models?, how ma...  ...  [[Remington-Beals Army Model Revolver, Remingt...
nt-11649-0   [what are all the names of the teams?, of thes...  ...  [[Cordoba CF, CD Malaga, Granada CF, UD Las Pa...
nt-11649-1   [what are the losses?, what team had more than...  ...  [[6, 6, 9, 10, 10, 12, 12, 11, 13, 14, 15, 14,...
nt-11649-2   [what were all the teams?, what were the loss ...  ...  [[Cordoba CF, CD Malaga, Granada CF, UD Las Pa...
nt-639-0     [where are the players from?, which player wen...  ...  [[Louisiana State University, Valley HS (Las V...
nt-639-1     [who are the players?, which ones are in the t...  ...  [[Ben McDonald, Tyler Houston, Roger Salkeld, ...
nt-639-2     [who are the players in the top 26?, of those,...  ...  [[Ben McDonald, Tyler Houston, Roger Salkeld, ...

[10 rows x 4 columns]


Each row in the dataframe above now consists of a table and one or more questions which are asked in a sequence. Let's visualize the first row, i.e. a table, together with its queries: